* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    position: relative;
  }
  
  video {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    position: absolute;
  }
  
  svg {
    position: absolute;
  }






/* 
 body {
     background-color: black;
 }  */

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .box {
     position: relative;
     top: 1200px;
     height: 200px;
 }

 video {
     width: 100%;
     aspect-ratio: 16 / 9;
     object-fit: cover;
     position: absolute;
 }

 .svg {
     position: absolute;
 }
 .video2 {
     mask-image: url('#mask'),
        url('#mask2'),
        url('#mask3'); 
    mask-size: contain;    
    mask-repeat: repeat;
    mask-position: center, right, bottom; 
    -webkit-mask-position: 100%, 100%, 100%; 
 }

 .masked-img {
    position: absolute;
    display: flex;
    mask-image: url(#mask4),
                url(#mask3),
                url(#mask),
                url(#mask2);
    mask-position: center, left, right, bottom;
    mask-size: contain;
}

 p {
     font-size: 35px;
     color: #fff;
 }

 .text {
    position: absolute;
 }

 .text1 {
    right: 0;
 }

 .text2 {
    top: 70%;
    left: 50%;
 } 


 /* ////////////////////////////////////////////////////////////// test2 */

 #wrapper {
    border: 1px solid black;
    width: 550px;
    height: 550px;
  }
  
  .masked {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    /* background: blue linear-gradient(red, blue); */
    mask-image: url(https://mdn.github.io/shared-assets/images/examples/mask-star.svg); 
    /* mask-image: url(img/rectangle-svgrepo-com.svg); */
    mask-repeat: no-repeat;
    mask-position: top right;
  }


  .div {
    width: 800px;
    height: 700px;
    position: relative;
  }

  .img {
    width: 100%;
    position: absolute;
    /* mask-image: url(https://mdn.github.io/shared-assets/images/examples/mask-star.svg); */
    clip-path: path("M151 0L186.473 84.9909H301.267L208.397 137.518L243.87 222.509L151 169.982L58.1299 222.509L93.6031 137.518L0.733078 84.9909H115.527L151 0Z");
    
    z-index: 1;
    mask-repeat: no-repeat;
    mask-position: center, top;
  }

  .b {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 20px;
    bottom: 20px;
  }